$primaryColor: #da343c;
$dark: #393939;
$bgPattern: url('../../assets/bg_pattern2.jpg');
$bgColor: #f7f7f7;
$grey: #ebebeb;

// type_color
$normal: #999;
$fighting: #ffa202;
$flying: #95c9ff;
$poison: #994dcf;
$ground: #ab7939;
$bug: #9fa424;
$rock: #bcb889;
$ghost: #6e4570;
$steel: #6aaed3;
$fire: #ff612c;
$water: #2992ff;
$grass: #9bcc50;
$electric: #ffdb00;
$phychic: #ff637f;
$ice: #42d8ff;
$dragon: #5462d6; 
$dark: #4f4747;
$fairy: #ffb1ff;