@import './sass/var';

// type color
.normal {background: $normal;}
.fighting {background: $fighting;}
.flying {background: $flying;}
.poison {background: $poison;}
.ground {background: $ground;}
.bug {background: $bug;}
.rock {background: $rock;}
.ghost {background: $ghost;}
.steel {background: $steel;}
.fire {background: $fire;}
.grass {background: $grass;}
.electric {background: $electric;}
.phychic {background: $phychic;}
.ice {background: $ice;}
.dragon {background: $dragon;}
.fairy {background: $fairy;}
.water {background: $water;}

