@import './sass/var';

.sign {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 120px 0 280px;
  background: $grey;
  .container_login, .container_signup {
    width: 580px;
    padding: 0 55px;
    text-align: center;
    &.container_signup {
      padding: 55px;
      background: #fff;
      text-align: left;
      > h2 {
        font-size: 34px;
        font-weight: 700; 
        margin-bottom: 25px;
      }
      .btn-skew {background: $primaryColor; border-color: $primaryColor;}
      .btn-skew:disabled {background: $grey; border: 0; cursor: default;}
    }
    &.container_login {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    form {
      width: 100%;
      box-sizing: border-box;
      .input_label {visibility: hidden;}
      .input_area{
        display: block;
        width: 100%;
        height: auto;
        padding: 15px 20px;
        border: 1px solid #bbb;
        border-radius: 0;
        box-sizing: border-box;
        outline: 0;
        background: #fff;
        color: #000;
        font-size: 18px;
      }
      .btn-skew {
        width: 100%;
        margin-top: 20px;
        padding: 20px 125px;
        border-radius: 0;
        border-color: #000;
        background-color: #000;
        box-sizing: border-box;
        color: #fff ;
        font-size: 21px;  
        font-weight: 700;
        transform: skew(-20deg);
        cursor: pointer;
        > p {
          transform: skew(20deg);
        }
      } 
    }
    .btn-move {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      margin: 30px 0 25px;
      padding: 10px 25px;
      border: none;
      border-radius: 38px;
      box-sizing: border-box;
      background: #fff;
      font-size: 18px;
      font-weight: 400;
      cursor: pointer;
      
      span::after {
        content: '>';
        margin-left: 20px;
      }
    }
  }
}
  
  
